<script seup lang="ts">
export default {
  data: () => ({
    tab: "option-1",
  }),
};
</script>
<template>
  <v-card
    class="mx-auto"
    max-height="645"
    max-width="634"
    color="blue"
    variant="outlined"
  >
    <v-parallax
      src="https://www.architects110.com/wp-content/uploads/2017/04/5426_View-3.jpg"
    >
      <v-list-item
        class="font-weight-thin"
        prepend-avatar="https://cdn.discordapp.com/attachments/876706912446586880/1016986418284863508/Hi-Tech_Company_3.png"
        title="ชนาธิป ถนอมญาติ"
        subtitle="64160239@go.buu.ac.th"
      ></v-list-item>
    </v-parallax>
    <v-toolbar color="primary">
      <v-toolbar-title>User Profile</v-toolbar-title>
    </v-toolbar>
    <div class="d-flex flex-row">
      <v-tabs v-model="tab" direction="vertical" color="primary">
        <v-tab value="option-1" class="font-weight-black">
          ประวัติส่วนตัว
        </v-tab>
        <v-tab value="option-2"> ประวัติการศึกษา </v-tab>
        <v-tab value="option-3"> สิ่งที่สนใจ </v-tab>
      </v-tabs>

      <v-window v-model="tab" color="blue">
        <v-window-item value="option-1">
          <v-card flat variant="outlined" color="blue">
            <v-container>
              <v-row>
                <v-col>
                  <v-card-text class="mx-auto">
                    <v-table>
                      <thead>
                        <tr>
                          <th class="text-center">ข้อมูลส่วนตัว</th>
                        </tr>
                      </thead>
                    </v-table>
                    <p>
                      ชื่อ: นายชนาธิป ถนอมญาติ | รหัสนิสิต: 64160239 | ชื่อเล่น:
                      บีม | อายุ: 20ปี
                    </p>
                    <p>วัน/เดือน/ปีเกิด: 1 มีนาคม 2002</p>
                    <p>กรุ๊ปเลือด: B</p>
                    <p>เพศ: ชาย</p>
                  </v-card-text>
                </v-col>
              </v-row>
            </v-container>
          </v-card>
        </v-window-item>

        <v-window-item value="option-2">
          <v-card flat variant="outlined" color="blue">
            <v-container>
              <v-row>
                <v-col>
                  <v-card-text class="mx-auto">
                    <v-table>
                      <thead>
                        <tr>
                          <th class="text-center">ข้อมูลด้านการศึกษา</th>
                        </tr>
                      </thead>
                    </v-table>
                    <p>มหาวิทยาลัยบูรพา</p>
                    <p>คณะ: วิทยาการสารสนเทศ</p>
                    <p>
                      ระดับการศึกษา: ปริญญาตรี | ปีการศึกษาที่เข้า: 2564 / 1
                      วันที่ 10/6/2564
                    </p>
                    <p>หลักสูตร: 2115025 วท.บ. (วิทยาการคอมพิวเตอร์)</p>
                  </v-card-text>
                </v-col>
              </v-row>
            </v-container>
          </v-card>
        </v-window-item>

        <v-window-item value="option-3">
          <v-card flat variant="outlined" color="blue">
            <v-container>
              <v-row>
                <v-col>
                  <v-card-text class="mx-auto">
                    <v-table>
                      <thead>
                        <tr>
                          <th class="text-center">สิ่งที่สนใจ/สิ่งที่ชอบ</th>
                        </tr>
                      </thead>
                    </v-table>

                    <p>
                      เกม Valorant, เพลง K-POP, อาหารเกาหลี, ไอติมมิ้นช็อค,
                      customkeyboard
                    </p>
                  </v-card-text>
                </v-col>
              </v-row>
            </v-container>
          </v-card>
        </v-window-item>
      </v-window>
    </div>
  </v-card>
</template>
